body, html {
    padding: 0;
    margin: 0;
    -webkit-appearance: none; 
    font-family: 'Noto Serif KR', sans-serif;

}

form {
    padding-left: 400px;
    padding-top: 20px;
    height: 34px;
   
}
 

img {
    height:92px;
    width: 272px;
    padding: 209px 400px 0px 600px;
 
}

center {
   height: 36px;
   line-height: 27px;
   
}

button {
    color: #757575;
    padding: 5px;
    border: none;
   
    
    }

    .nav-bar li {
        float: right;
        list-style-type: none;
        padding:0px 30px;
        font-size: 12px;
       
      
    }

    a {

        color: grey;
        
    }

    .lang {
        font-family: 'Noto Serif KR', sans-serif;
        font-size: 12px;
        
      
    }

    footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 60px;
        background-color: rgb(243, 243, 243);
        font-family: 'Noto Serif KR', sans-serif;
        color:grey;
    }

    footer p {
        padding-left: 40px;
        font-size: 15px;
    }
   